.section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.body {
  font-family: Lato, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .76), hsla(0, 0%, 100%, .76)), url('../images/cover.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .76), hsla(0, 0%, 100%, .76)), url('../images/cover.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  color: #5e5e5e;
  text-align: right;
}

.container.right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 2px solid #babab2;
  background-color: #fff;
  color: #5e5e5e;
}

.section-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Droid Serif', serif;
  color: #000;
  text-transform: capitalize;
}

.section-h2 {
  margin-left: 28px;
  font-family: 'Droid Serif', serif;
  color: #000;
  font-size: 28px;
  line-height: 34px;
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: -11px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #babab2;
  text-decoration: none;
  text-transform: capitalize;
  cursor: default
}

@media (max-width: 767px) {
  .item-block {
    width: 100%;
    padding-left: 20px;
  }
}

.item-block:hover {
  color: #dd1818;
}

.item-indicator {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 2px solid #babab2;
  border-radius: 50%;
  background-color: #fff;
}

.item-indicator:hover {
  border-color: #dd1818;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #dd1818;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-icon:hover {
  background-color: #000;
}

.social-icon._1 {
  background-image: url('../images/Twitter.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.social-icon._2 {
  background-image: url('../images/instagram.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.social-icon._3 {
  background-image: url('../images/facebook.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.social-icon._4 {
  background-image: url('../images/linkedin.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.social-icon._5 {
  background-image: url('../images/github.png');
  background-position: 50% 50%;
  background-size: 34px;
  background-repeat: no-repeat;
}

.social-block {
  margin-top: 32px;
}

.section-h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  color: #707070;
  font-size: 14px;
}

.item-h1 {
  color: #707070;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.paragraph {
  width: 70%;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .section {
    position: static;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .container.left {
    padding: 64px 15px 112px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #babab2;
  }
  .container.right {
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left-style: none;
  }
  .profile-picture {
    position: relative;
    margin-top: -72px;
    margin-bottom: 40px;
  }
  .paragraph {
    margin-bottom: 32px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .container.left {
    padding-top: 32px;
    text-align: center;
  }
  .social-icon {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .social-block {
    display: block;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
}

._tlc {
  text-transform: lowercase;
}